<!DOCTYPE html>
<html>
<head>
	<title>List of Applications</title>
	<link rel="stylesheet" type="text/css" href="templates/applicationsreceived.css">
</head>
<body>
	<header>
		<h1>List of Applications</h1>
	</header>
	<main>
		<section id="applications">
			<div class="application">
				<div class="profile-photo">
					<img src="https://media.licdn.com/dms/image/C4D03AQF31fJpTTvZPg/profile-displayphoto-shrink_800_800/0/1600877824454?e=1686182400&v=beta&t=M1sjzWLSDpZbRud4OHhuEDsH8dp3navg2SjMwxuJtFk" alt="Profile Photo">
				</div>
				<div class="details">
					<h2>Reema Pandya</h2>
					<p>Years of Experience: 5 years</p>
          <p>Educational Background: HR Degree</p>
          <p>Location: London </p>
          <p>“I don’t like onions” </p>
				</div>
				<div class="actions">
					<button>Contact Volunteer</button>
				</div>
			</div>
			<div class="application">
				<div class="profile-photo">
					<img src="https://media.licdn.com/dms/image/C4D03AQFvg6D5s1Y45Q/profile-displayphoto-shrink_800_800/0/1589887696276?e=2147483647&v=beta&t=U4xWwVCRnEYReYgISw1fEmpFyZ-xEE-4LbE8uzj42I4" alt="Profile Photo">
				</div>
				<div class="details">
					<h2>Jamie Dimon</h2>
					<p>Years of Experience: 18 years</p>
          <p>Educational Background: MBA at Harvard</p>
          <p>Location: London </p>
          <p>“CEO of JP Morgan Chase & Co” </p>
				</div>
				<div class="actions">
					<button>Contact Volunteer</button>
				</div>
			</div>

		</section>
	</main>
</body>
</html>