<!DOCTYPE html>
<html>

	<head>
		<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
		<link href="./css/dialog.css" rel="stylesheet" />
		<title>Document</title>
	</head>

	<body>
		<div class="v1_14">
			<div class="v1_15"></div>
			<div class="v1_19"></div>
			<input id='name' class="v1_22"></div>
			<div id="errormessage"></div>
			<span id='sign' class="v1_20">Sign up as School</span>
			<span class="v1_21">Name</span>
			<input id='email' class="v1_32"></div>
			<span class="v1_33">Email</span>
			<input id='address' class="v1_42"></div>
			<span class="v1_43">Address</span>
			<span class="v2_408">EquiTeach</span>
		</div>
	</body>
	<script>
		$("#sign").click(function(){
    	$.post("login.json",
        //发送给后端的数据
        {
            "name":$("#name").val(),
            "email":$("#email").val(),
            "address":$("#address").val()
        },
        //回调函数
        function(data){
            var json=data[0];
            if(json.success == 0){
                $("#errormessage").text("注册失败");
            }
            else if(json.success== 1){
                window.location.href="home2.html";
            }
        }
    )
})
	</script>

</html>