<!DOCTYPE html>
<html>

	<head>
		<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
		<link href="./css/home1.css" rel="stylesheet" />
		<title>Document</title>
	</head>

	<body>
		<div class="v1_7">
			<div class="v2_392"></div><span class="v2_393">Login</span>
			<div class="v2_413"></div>
			<div class="v2_396"></div><span class="v2_397">Login</span>
			<div class="v2_399"></div><span class="v2_400">Login</span>


			<div class="v2_401"></div><span class="v2_402">School</span></p><p style="color: black">Sign up as: </p></span><span class="v2_398">EquiTeach</span>
			<div class="v2_406"></div><span class="v2_407">Volunteer</span><span class="v2_415">About Us</span></div>
	</body>

</html>