<!DOCTYPE html>
<html>

	<head>
		<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
		<link href="./css/home2.css" rel="stylesheet" />
		<title>Document</title>
	</head>

	<body>
		<div class="v2_416">
			<div class="v2_417"></div><span class="v2_418">Login</span>
			<div class="v2_420"></div><span class="v2_421">Login</span><span class="v2_427">EquiTeach</span><span class="v2_430">About Us</span>
			
		</div>
		<div class="textdiv">
				<p>We believe that every student deserves access to quality education, regardless of their circumstances. We recognize that many schools face the challenge of teacher shortages, which can significantly impact the quality of education students receive.</p> 

				<p>To address this issue, we have created a platform that connects volunteer substitute teachers with schools in need.</p> 
				
				<p>Our goal is to ensure that every student has equal access to education
				and equal opportunities for success. </p>
				
				<p>Join us in our mission to make a difference in the lives of students and communities across the country.</p>
			</div>
	</body>

</html>