<!DOCTYPE html>
<html>

	<head>
		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
		<link href="./css/home1.css" rel="stylesheet" />
		<title>Document</title>
	</head>

	<body>
		
		<div class="v1_7">
			
			<div class="v2_413"></div>
			<div class="v2_396"></div><span class="v2_397" onclick="window.location.href='dialog.html'">Login</span>
			<div class="v2_401"></div><span class="v2_402" onclick="window.location.href='dialogSignSchool.html'">School</span><span class="v2_395">Sign up as: </span><span class="v2_398">EquiTeach</span>
			<div class="v2_406"></div><span class="v2_407" onclick="window.location.href='dialogSignVolunteer.html'">Volunteer</span><span class="v2_415">About Us</span></div>
	</body>

</html>