{% extends 'templates/styles.html' %}
<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <header>
      <h1>Home Page</h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Join us today</h2>
      <p>Sign up or log in to access exclusive content</p>
      <div class="buttons">
        <a href="#" class="btn">Sign Up as a School</a>
        <a href="#" class="btn">Sign Up as a Volunteer</a>
      </div>
    </main>
  </body>
</html>